/*
div{
	width:1920px;
	height:1080px;
	background-size: 720px;
	background-position: top right;
	background-image:url(img.png);
	background-color: blue;

}*/
.blue{
	border: 8px solid ;
	border-image: img.png;
	color: blue;
}
.red{
	padding: 10px 50px 10px 50px;
	color: red;
	font-size: 30px;
}
.green{
	color: green;
}