h1{
	background-color: red;
	padding:20px 80px 0px 70px;/* top right buttom and left */
	border:5px;
	border-color: black;
	border-style: solid;
	margin:10px 20px 10px 20px  /*top right buttom left*/
}
div{
	/*background-color: yellow;
	padding: 10px 50px 10px 50px;
	border: 5px dashed blue;
	margin:10px 20px 10px 20px  /*top right buttom left*/
	*/
	background-color: red;
	border: 10px solid black;
	width: 230px;	
}
span{
	color: green;
	text-decoration: underline;
}