.abc{
	            width: 50%;
                border: 1px solid red;
                margin: auto;
                padding:20px;
                font-size: 20px;
                background-color: pink;

}

